<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop | Cart</title>

    <!-- css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/cart/modal.css">
    <link rel="stylesheet" href="/stylesheets/cart/saw-border.css">
    <link rel="stylesheet" href="/stylesheets/cart/style.css">
    <link rel="stylesheet" href="/stylesheets/layout/header-sub/style.css">

    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!--------- container ----------->
    <div class="container-fuild">
        <!--------- content----------->
        <%- include('../layout/header-sub.ejs'); %>
        
        <!--------- content----------->
        <div class='content'>
            <div class='content-container row'>
                <div class='col-md-9 main-container'>
                    <div class='main'>
                        <div class='main-header row align-items-center'>
                            <div class='col-md-5'>
                                <span>Sản phẩm</span>
                            </div>
                            <div class='col-md-2'>
                                <span>Đơn giá</span>
                            </div>
                            <div class='col-md-2'>
                                <span>Số lượng</span>
                            </div>
                            <div class='col-md-2'>
                                <span>Số tiền</span>
                            </div>
                            <div class='col-md-1' style='padding:0;'>
                                <span>Thao tác</span>
                            </div>
                        </div>
                        <div class='main-content'>
                            <!-- shop container -->
                            <div class='main-content-large-item'>
                                <!-- shop name -->
                                <div class='large-item-title'>
                                    <a href="#"> Happy Store
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style='margin-top: -3px;'>
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                    </a>
                                </div>
                                <!-- list item -->
                                <div class='item-list-container'>
                                    <!-- item container -->
                                    <div class='item-container row'>
                                        <!-- name + image item -->
                                        <div class='col-md-5 col-sm-5 col-5'>
                                            <div class='row no-gutters'>
                                                <div class='col-md-3 col-sm-2 col-2'>
                                                    <img class='img-fluid' src="/images/cart/item-cart-1.png">
                                                </div>
                                                <div class='col-md-9 col-sm-7 col-7 align-self-center pl-2'>
                                                    <span class='item-name'>Mặt nạ môi Laneige</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- unit price -->
                                        <div class='col-md-2 col-sm-2 col-2 align-self-center' style='text-align: center;'>
                                            <span class='item-unit-price'>200.000 đ</span>
                                        </div>
                                        <!-- amount -->
                                        <div class='col-md-2 col-sm-2 col-2 align-self-center'>
                                            <form>
                                                <div class="form-group">
                                                  <input type="number" class="form-control" style='text-align: center;' value='1'>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- price -->
                                        <div class='col-md-2 col-sm-2 col-2 align-self-center' style='text-align: center;'>
                                            <span class='item-price'>200.000 đ</span>
                                        </div>
                                        <div class='col-md-1 col-sm-1 col-1 align-self-center' style='padding:0; margin-top: -6px; text-align: center;'>
                                            <svg xmlns="http://www.w3.org/2000/svg"  id='item-remove' width="16" height="16" fill="#595959" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>
                                        </div>
                                    </div>  <!-- end item container -->

                                    <!-- item container -->
                                    <div class='item-container row'>
                                        <!-- name + image item -->
                                        <div class='col-md-5 col-sm-5 col-5'>
                                            <div class='row no-gutters'>
                                                <div class='col-md-3 col-sm-2 col-2'>
                                                    <img class='img-fluid' src="/images/cart/item-cart-2.png">
                                                </div>
                                                <div class='col-md-9 col-sm-7 col-7 align-self-center pl-2'>
                                                    <span class='item-name'>Kem chống nắng</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- unit price -->
                                        <div class='col-md-2 col-sm-2 col-2 align-self-center' style='text-align: center;'>
                                            <span class='item-unit-price'>700.000 đ</span>
                                        </div>
                                        <!-- amount -->
                                        <div class='col-md-2 col-sm-2 col-2 align-self-center'>
                                            <form>
                                                <div class="form-group">
                                                  <input type="number" class="form-control" style='text-align: center;' value='1'>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- price -->
                                        <div class='col-md-2 col-sm-2 col-2 align-self-center' style='text-align: center;'>
                                            <span class='item-price'>700.000 đ</span>
                                        </div>
                                        <div class='col-md-1 col-sm-1 col-1 align-self-center' style='padding:0; margin-top: -6px; text-align: center;'>
                                            <svg xmlns="http://www.w3.org/2000/svg"  id='item-remove' width="16" height="16" fill="#595959" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>
                                        </div>
                                    </div>  <!-- end item container -->
                           
                                </div> <!-- end list item -->
                                <hr>
                                <!-- discount -->
                                <span class='large-item-subtitle' data-toggle="modal" data-target="#DiscountModal1">Shop khuyến mãi
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </span>
                            </div> <!-- end shop container -->

                            <!-- shop container -->
                            <div class='main-content-large-item'>
                                <!-- shop name -->
                                <div class='large-item-title'>
                                    <a href="#"> Happy Store
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style='margin-top: -3px;'>
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                    </a>
                                </div>
                                <!-- list item -->
                                <div class='item-list-container'>
                                    <!-- item container -->
                                    <div class='item-container row'>
                                        <!-- name + image item -->
                                        <div class='col-md-5 col-sm-5 col-5'>
                                            <div class='row no-gutters'>
                                                <div class='col-md-3 col-sm-2 col-2'>
                                                    <img class='img-fluid' src="/images/cart/item-cart-3.png">
                                                </div>
                                                <div class='col-md-9 col-sm-7 col-7 align-self-center pl-2'>
                                                    <span class='item-name'>Mặt nạ môi Laneige</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- unit price -->
                                        <div class='col-md-2 col-sm-2 col-2 align-self-center' style='text-align: center;'>
                                            <span class='item-unit-price'>200.000 đ</span>
                                        </div>
                                        <!-- amount -->
                                        <div class='col-md-2 col-sm-2 col-2 align-self-center'>
                                            <form>
                                                <div class="form-group">
                                                  <input type="number" class="form-control" style='text-align: center;' value='1'>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- price -->
                                        <div class='col-md-2 col-sm-2 col-2 align-self-center' style='text-align: center;'>
                                            <span class='item-price'>200.000 đ</span>
                                        </div>
                                        <div class='col-md-1 col-sm-1 col-1 align-self-center' style='padding:0; margin-top: -6px; text-align: center;'>
                                            <svg xmlns="http://www.w3.org/2000/svg"  id='item-remove' width="16" height="16" fill="#595959" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>
                                        </div>
                                    </div>  <!-- end item container -->

                                    <!-- item container -->
                                    <div class='item-container row'>
                                        <!-- name + image item -->
                                        <div class='col-md-5 col-sm-5 col-5'>
                                            <div class='row no-gutters'>
                                                <div class='col-md-3 col-sm-2 col-2'>
                                                    <img class='img-fluid' src="/images/cart/item-cart-4.png">
                                                </div>
                                                <div class='col-md-9 col-sm-7 col-7 align-self-center pl-2'>
                                                    <span class='item-name'>Kem chống nắng</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- unit price -->
                                        <div class='col-md-2 col-sm-2 col-2 align-self-center' style='text-align: center;'>
                                            <span class='item-unit-price'>700.000 đ</span>
                                        </div>
                                        <!-- amount -->
                                        <div class='col-md-2 col-sm-2 col-2 align-self-center'>
                                            <form>
                                                <div class="form-group">
                                                  <input type="number" class="form-control" style='text-align: center;' value='1'>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- price -->
                                        <div class='col-md-2 col-sm-2 col-2 align-self-center' style='text-align: center;'>
                                            <span class='item-price'>700.000 đ</span>
                                        </div>
                                        <div class='col-md-1 col-sm-1 col-1 align-self-center' style='padding:0; margin-top: -6px; text-align: center;'>
                                            <svg xmlns="http://www.w3.org/2000/svg"  id='item-remove' width="16" height="16" fill="#595959" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>
                                        </div>
                                    </div>  <!-- end item container -->
                           
                                </div> <!-- end list item -->
                                <hr>
                                <!-- discount -->
                                <span class='large-item-subtitle' data-toggle="modal" data-target="#DiscountModal1">Shop khuyến mãi
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </span>
                            </div> <!-- end shop container -->

                        </div> <!-- end main content -->
                    </div>
                </div>

                <!-- giao hang container -->
                <div class='col-md-3 side-container'>
                    <!-- item 1 -->
                    <div class='side-item-container'>
                        <div class='side-item-header'>
                            <span class='side-header-title'>Giao hàng</span>
                            <span class='side-header-subtitle' id='btn-change'>Thay đổi</span>
                        </div>
                        <div class='side-item-main'>
                            <div>
                                <span style='display:inline'>Lê Thị Anh Thi</span>
                                <span style='display:inline'>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>                      
                                <span style='display:inline'>123456789</span> 
                            </div> 
                            <textarea readonly  id='text-adress'>227, Nguyễn Văn Cừ, Quận 5, TPHCM 227, Nguyễn Văn Cừ, Quận 5, TPHCM 227, Nguyễn Văn Cừ, Quận 5, TPHCM</textarea>
                        </div>
                    </div>

                    <!-- item 2 -->
                    <div class='side-item-container'>
                        <div class='side-item-header'>
                            <span class='side-header-title'>Shop Khuyến mãi</span>
                        </div>
                        <div class='side-item-main'>
                            <img src="https://frontend.tikicdn.com/_desktop-next/static/img/mycoupon/coupon_icon.svg">
                            <span class='select-voucher' data-toggle="modal" data-target="#DiscountModal2" id='btn-select-discount1'>&nbsp;&nbsp;Chọn mã khuyến mãi</span>
                        </div>
                        <div id='select-item-container'>
                            <div id='discount-select-title' class='discount-select-title'></div>
                            <div class='discount-select-container align-items-center'>
                                <div>
                                    <span class='discount-select-ID' id='discount-select-ID' ></span>
                                    <span id='discount-select-amount' style='display:inline'></span>
                                    <div id='btn-select-cancel-container' >
                                        <button class='btn btn-cancel' id='btn-select-cancel'>Bỏ chọn</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- item 3 -->
                    <div class='side-item-container'>
                        <div class='side-item-main'>
                            <div class='side-item-field'>
                                <span class='side-item-title1'>Tạm tính</span>
                                <span class='side-item-title2'>2.000.000 đ</span>
                            </div>
                            <div class='side-item-field'>
                                <span class='side-item-title1'>Giảm giá</span>
                                <span class='side-item-title2'>10.000 đ</span>
                            </div>
                            <hr>
                            <div class='side-item-field'>
                                <span class='side-item-finaltitle1'>Tổng cộng</span>
                                <span class='side-item-finaltitle2'>1.000.000 đ</span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <button type="button" style='width: 100%;'class="btn btn-submit" id='btn-buy'>Mua hàng</button>
                    </div>
                </div> <!-- end side container -->
            </div>
            
        </div> <!--------- end content ----------->

        
        <!--------- footer ----------->
        <%- include('../layout/footer.ejs'); %>
        
    </div><!--------- end container ----------->

    <!--------- Dicount Modal 1 ---------->
    <div class="modal fade" id="DiscountModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Shop khuyến mãi</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body" style='padding: 5% 0% 1% 0%'>
                <!-- item -->
                <div class='item-discount'>
                    <div class='row no-gutters item-discount-container zigzag'>
                        <div class='col-md-3 col-sm-2 col-2' style='text-align: center;'>
                            <div class='item-discount-side-container'>
                                <!--img discount--> 
                                <img class='img-fluid discount-img' src="/images/cart/voucher-1.png">
                                <!--shop name -->
                                <div class='item-discount-title1'>Tên Shop</div>
                            </div>
                        </div>
                        <div class='col-md-6 col-sm-7 col-7 align-self-center pl-2 item-discount-main-container'>
                            <div>
                                <span class='discount-title'>Mã Voucher: </span>
                                <span class='discount-id' id='discount-id'>Mã 1</span>
                            </div>
                            <div class='discount-title' id='discount-amount'>Giảm 15K</div>
                            <div class='discount-subtitle'>Cho đơn từ 300K</div>
                            <div class='discount-subtitle'>HSD: 31/07/2021</div>
                        </div>
                        <div class='col-md-3 col-sm-3 col-3 align-self-end btn-select'>
                            <button type="button" style='width: 70%;'class="btn btn-submit" id='btn-discount'>Áp dụng</button>
                        </div>
                    </div>
                </div>  <!-- end item -->

                <!-- item -->
                <div class='item-discount'>
                    <div class='row no-gutters item-discount-container zigzag'>
                        <div class='col-md-3 col-sm-2 col-2' style='text-align: center;'>
                            <div class='item-discount-side-container'>
                                <!--img discount--> 
                                <img class='img-fluid discount-img' src="/images/cart/voucher-1.png">
                                <!--shop name -->
                                <div class='item-discount-title1'>Tên Shop</div>
                            </div>
                        </div>
                        <div class='col-md-6 col-sm-7 col-7 align-self-center pl-2 item-discount-main-container'>
                            <div>
                                <span class='discount-title'>Mã Voucher: </span>
                                <span class='discount-id' id='discount-id'>Mã 2</span>
                            </div>
                            <div class='discount-title' id='discount-amount'>Giảm 20K</div>
                            <div class='discount-subtitle'>Cho đơn từ 300K</div>
                            <div class='discount-subtitle'>HSD: 31/07/2021</div>
                        </div>
                        <div class='col-md-3 col-sm-3 col-3 align-self-end btn-select'>
                            <button type="button" style='width: 70%;'class="btn btn-submit" id='btn-discount'>Áp dụng</button>
                        </div>
                    </div>
                </div>  <!-- end item -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel" data-dismiss="modal" style='font-size:13px;'>Đóng</button>
            </div>
        </div>
        </div>
    </div>  <!--------- end Dicount Modal 1 ---------->

    <!--------- Dicount Modal 2 ---------->
    <div class="modal fade" id="DiscountModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Shop khuyến mãi</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body" style='padding: 5% 0% 1% 0%'>
                <!-- item -->
                <div class='item-discount'>
                    <div class='row no-gutters item-discount-container zigzag'>
                        <div class='col-md-3 col-sm-2 col-2' style='text-align: center;'>
                            <div class='item-discount-side-container'>
                                <!--img discount--> 
                                <img class='img-fluid discount-img' src="/images/cart/voucher-1.png">
                                <!--shop name -->
                                <div class='item-discount-title1'>Tên Shop</div>
                            </div>
                        </div>
                        <div class='col-md-6 col-sm-7 col-7 align-self-center pl-2 item-discount-main-container'>
                            <div>
                                <span class='discount-title'>Mã Voucher: </span>
                                <span class='discount-id' id='discount-id'>Mã 3</span>
                            </div>
                            <div class='discount-title' id='discount-amount'>Giảm 333K</div>
                            <div class='discount-subtitle'>Cho đơn từ 300K</div>
                            <div class='discount-subtitle'>HSD: 31/07/2021</div>
                        </div>
                        <div class='col-md-3 col-sm-3 col-3 align-self-end btn-select'>
                            <button type="button" style='width: 70%;'class="btn btn-submit" id='btn-discount'>Áp dụng</button>
                        </div>
                    </div>
                </div>  <!-- end item -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel" data-dismiss="modal" style='font-size:13px;'>Đóng</button>
            </div>
        </div>
        </div>
    </div>  <!--------- end Dicount Modal 2 ---------->
    
    <!-- Message Modal -->
    <div class="modal fade" id="MessageModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Thông báo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <span class='modal-body-content'>Bạn đã chọn Voucher. Bạn có đồng ý thay đổi Voucher mới không?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel" data-dismiss="modal" id='btn-nonaccept-change'>Đóng</button>
                <button type="button" class="btn btn-submit" id='btn-accept-change'>Đồng ý</button>
            </div>
        </div>
        </div>
    </div>

    <!-- javascript -->
    <script src="/javascripts/cart/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>